<div class="wrapper">
  <p id="notice"><%= notice %></p>

  <% @posts.reverse.each do |post| %>
    <div class="post-wrapper">
      <%= link_to post do %>
        <div class="card">
          <%= image_tag 'https://source.unsplash.com/random/?people' %>
          <div class="content-wrapper">
            <div class="name">
              <%= post.user.nickname %>
            </div>
            <div class="content">
              <%= post.content %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="del-btn">
        <%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div>
