<!DOCTYPE html>
<html>
  <head>
    <title>TwitterSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%=link_to "Twitter-Sample", root_path %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to "Twitterとは", about_path %>
        </li>

        <% if current_user %>
          <li>
            <%= link_to "投稿一覧", posts_path %>
          </li>
          <li>
            <%= link_to "ユーザ一覧", users_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </header>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
